.body, h1 {
  text-align: center;
}

.box {
  color: #9069EF;
  background-color: rgb(243, 243, 243);
  border: 2px solid #232525;
  font-size: 50px;
  height: 60px;
  margin: 10px 5px;
  text-align: center;
  width: 20%;
}

.box-container1 {
  background-color: #0fa36b;
  display: flex;
  justify-content: center;
}

.box-container2 {
  background-color: #0fa36b;
  display: flex;
  justify-content: flex-start;
}

.box-container3 {
  background-color: #0fa36b;
  display: flex;
  justify-content: flex-end;
}

.box-container4 {
  background-color: #0fa36b;
  display: flex;
  justify-content: space-around;
}

.box-container5 {
  background-color: #0fa36b;
  display: flex;
  justify-content: space-between;
}