/*O texto das tags ‘h1’ e ‘p’ estejam centralizados.*/
h1, p {
    text-align: center;
}
/*A cor de fundo da sua lista mude quando o cursor estiver sobre o item.*/
ol:hover, ul:hover {
    background-color: blueviolet;
}
/*A fonte do item mude quando ele for clicado.*/
li:active {
    font-family: monospace;
}
/*Adicione a propriedade ‘list-style: none’ para ambas as listas.*/
li {
    list-style: none;
    text-align: center;
}